<% include partials/header.ejs %>

    
<div class="container-fluid text-center">

<div class="margin-bottom-40"></div>

<% include ../partials/message-panel.ejs %>

	<div class="row">
	    <div class="col-lg-3"></div>
	    <div class="col-lg-6" >
				<form ng-submit="submitLogin()" ng-controller="authenticationController" class="sky-form">
				<header>Enter your login details</header>
				<fieldset>					
					<section>
						<div class="row">
							<label class="label col col-4">Username:</label>
							<div class="col col-8">
								<label class="input">
									<i class="icon-append icon-user"></i>
									<input type="username" ng-model="username" name="username">
								</label>
							</div>
						</div>
					</section>
					
					<section>
						<div class="row">
							<label class="label col col-4">Password:</label>
							<div class="col col-8">
								<label class="input">
									<i class="icon-append icon-lock"></i>
									<input type="password" ng-model="password" name="password">
								</label>
								<div class="note"><a href="#">Forgot password?</a></div>
							</div>
						</div>
					</section>
					
				</fieldset>
				<footer>
					<div class="row">
						<div class="col col-xs-10 text-left">
							<button type="submit" class="btn btn-primary btn-lg">Log in</button>
						</div>
						<div class="col col-xs-2 text-right">
							<div id="ajax-loader"/>
						</div>
					</div>
				</footer>
				</form>

	    </div>
	    <div class="col-lg-3"></div>

	</div>


</div> <!-- container -->

<% include partials/footer.ejs %>
