<% include partials/header.ejs %>

    
<div class="container-fluid text-center">

<div class="margin-bottom-40"></div>

	<div class="row">
	    <div class="col-lg-4 col-md-2 col-sm-1 col-xs-0"></div>
	    <div class="col-lg-4 col-md-8 col-sm-10 col-xs-12" >
				<% include ../partials/login-form.ejs %>	    
	    </div>
	    <div class="col-lg-4 col-md-2 col-sm-1 col-xs-0"></div>
	</div>

</div> <!-- container -->

<div class="margin-bottom-40"></div>


<% include partials/footer.ejs %>
