<% include partials/header.ejs %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Admin Login</h1>
    </div>
</div>

<div class="margin-bottom-20"></div>
    
<div class="container-fluid text-center">

<div class="row">
    <div class="col-lg-6" >
			<form ng-submit="submitLogin()" ng-controller="authenticationController" class="sky-form">
			<header>Enter your login details</header>
			<fieldset>					
				<section>
					<div class="row">
						<label class="label col col-4">E-mail</label>
						<div class="col col-8">
							<label class="input">
								<i class="icon-append icon-user"></i>
								<input type="username" ng-model="username" name="username">
							</label>
						</div>
					</div>
				</section>
				
				<section>
					<div class="row">
						<label class="label col col-4">Password</label>
						<div class="col col-8">
							<label class="input">
								<i class="icon-append icon-lock"></i>
								<input type="password" ng-model="password" name="password">
							</label>
							<div class="note"><a href="#">Forgot password?</a></div>
						</div>
					</div>
				</section>
				
			</fieldset>
			<footer>
				<button type="submit" class="button">Log in</button>
			</footer>
			</form>

    </div>
    <div class="col-lg-6"></div>

</div>


</div> <!-- container -->

<% include partials/footer.ejs %>
