<div class="owl-carousel-v4 margin-bottom-20">
  <div class="owl-slider-v4">

  <% for(var i=0; i < destination_medias.length; i++) { %>
  <% var destination_media = destination_medias[i]; %>
    <div class="item">
      <img src="<%= destination_media.location %>" alt="">
    </div>
  <% } %>

  </div>
</div>