<% for(var i=0; i < destination_reviews.length; i++) { %>
<% var destination_review = destination_reviews[i]; %>

<div class="container margin-bottom-20 nopadding"">

<% include destination-review.ejs %>

</div>

<% } %>