<div class="inner-results">
  <h3><%= destination_review.title %></h3>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <ul class="list-inline down-ul">
        <li>Overall:</li>
        <li>
          <ul class="list-inline star-vote">
            <li><i class="color-green fa fa-circle"></i></li>
            <li><i class="color-green fa fa-circle"></i></li>
            <li><i class="color-green fa fa-circle"></i></li>
            <li><i class="color-green fa fa-circle"></i></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
      <ul class="list-inline down-ul">
        <li>Service:</li>
        <li>
          <ul class="list-inline star-vote">
            <li><i class="color-green fa fa-circle"></i></li>
            <li><i class="color-green fa fa-circle"></i></li>
            <li><i class="color-green fa fa-circle"></i></li>
            <li><i class="color-green fa fa-moon-o"></i></li>
          </ul>
        </li>    
      </ul>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-12 col-lg-9">
      <ul class="list-inline"><li>3 years ago - by rmcfadden</li></ul>
      <p><%= destination_review.text %></p>
      <div class="headline"></div>
    </div>
  </div>
</div>