<div class="thumbnail" onclick="location.href='<%=createDestinationLink(destination)%>';" style="cursor:pointer;">
  <img class="img-responsive" src="/assets/img/samples/destination-image-sample<%= (destination.id % 5) + 1%>.jpeg" alt="" />
  <div class="caption">
    <h3><%= truncateWithEllipses(destination.name, 30); %></h3>
    <p><%= truncateWithEllipses(destination.description, 40); %></p>
    <div class="object-raiting" style="text-align:center">
      <ul class="list-inline star-vote">
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-moon-o"></i></li>
      </ul>
    </div>
  </div>
  <p>
    <button class="btn-u">Read more <i class="fa fa-angle-right margin-left-5"></i></button>
  </p>
</div>
