<div class="inner-results">
  <h3><%= destination_review.title %></h3>
  <ul class="list-inline down-ul">
    <li>Overall:</li>
    <li>
      <ul class="list-inline star-vote">
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-circle"></i></li>
      </ul>
    </li>
    <li>Service:</li>
    <li>
      <ul class="list-inline star-vote">
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-circle"></i></li>
        <li><i class="color-green fa fa-moon-o"></i></li>
      </ul>
    </li>
    <li>3 years ago - by rmcfadden</li>
  </ul>
  <p><%= destination_review.text %></p>
  <div class="headline"></div>
</div>