<div class="thumbnail" onclick="location.href='/destination/<%=destination.country.iso_code2.toLowerCase() + "/" + destination.name.toLowerCase()%>/'" style="cursor:pointer;">
  <img class="img-responsive" src="/assets/img/samples/destination-image-sample1.jpeg" alt="" />
  <div class="caption">
    <h3><%= truncateWithEllipses(destination.name, 30); %></h3>
    <p><%= truncateWithEllipses(destination.description, 40); %></p>
    <div class="object-raiting" style="text-align:center">
      <ul class="list-inline star-vote">
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star-half-o"></i></li>
        <li><i class="g-color-default fa fa-star-o"></i></li>
      </ul>
    </div>
  </div>
  <p>
    <button class="btn-u btn-u-xs">Read more <i class="fa fa-angle-right margin-left-5"></i></button>
  </p>
</div>
