<div name="gallery-thumbnail" >
	<a href="/gallery/<%= gallery.name %>" data-size="320x200">
		<div class="cell" style='width:420px; height: 280px; background-image: url("/assets/img/samples/destination-image-sample<%= (gallery.id % 5) + 1%>.jpeg"); background-size: 100% 100%; cursor:pointer'>
			<div class="title" style="position: absolute; bottom:0; text-align:center; width: 100%; background-color: rgba(0,0,0,0.3); color:rgba(255,255,255,1); font-weight: bold; padding:10px"><%= gallery.name %>
			</div>
		</div>
	</a>
</div>

 