<div class="blog_masonry_3col">
  <div class="media-gallery container content grid-boxes" itemscope itemtype="http://schema.org/ImageGallery">      

    <% for(var i=0; i < medias.length; i++) { %>
    <% var media = medias[i]; %>

    <div class="grid-boxes-in" >
      <figure name="media-thumbnail"  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/assets/img/samples/destination-image-sample2.jpeg" itemprop="contentUrl" data-size="600x400">
          <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description"><%= media.title %></figcaption>
      </figure>
    </div>

    <% } %>

  </div>
</div>

