<div class="blog_masonry_3col">
  <div class="container content grid-boxes">      

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <a href="#">Unify Clean and Fresh Fully Responsive Template</a>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>
    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>
    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>
    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>
    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/assets/img/samples/destination-image-sample2.jpeg" alt="">
      <div class="grid-boxes-caption">
        <h3><a href="#">Unify Clean and Fresh Fully Responsive Template</a></h3>
      </div>
    </div>
  </div>
</div>
