<div name="media-thumbnail">
	<a href="/assets/img/samples/destination-image-sample<%= (media.id % 5) + 1%>.jpeg" data-size="820x680">
		<div class="cell .size23" style='width:420px; height: 280px; background-image: url("/assets/img/samples/destination-image-sample<%= (media.id % 5) + 1%>.jpeg"); background-size: 100% 100%; cursor:pointer'>
		<div class="title" style="position: absolute; bottom:0; text-align:center; width: 100%; background-color: rgba(0,0,0,0.3); color:rgba(255,255,255,1); font-weight: bold; padding:10px"><%= media.name %></div>
		</div>
	</a>
</div>

