<% include partials/header.ejs %>

<div class="margin-bottom-20"></div>
    
<div class="container text-center">

<% include partials/destination-thumbnails.ejs %>

</div> <!-- container -->

<% include partials/footer.ejs %>



