<% include partials/header.ejs %>

<div class="margin-bottom-20"></div>

<div class="container center-block">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div id="content-container" class="container center-block">
        
        <!-- Start thumbnail photo -->
        <div class="row margin-bottom-20">
          <div class="col-md-12 col-md-9">
              <img width="100%" class="img-responsive" src="/assets/img/samples/destination-image-sample<%=((destination.id ? destination.id : 1)  % 5) + 1%>.jpeg" alt="" />
          </div>
        </div>
        <!-- End thumbnail photo -->

        <!-- Start photo gallery -->        
        <% var destination_medias = destination.medias ? destination.medias : []; %>
        <% if(destination_medias.length > 0) { %>
        <div class="col-md-9 nopadding">
          <% include partials/destination-media-thumbnails.ejs %>
          <a id="gallery-button" href="#gallery-popup"><button id="view-gallery-button" class="btn-u">View photo gallery<i class="fa fa-angle-right margin-left-5"></i></button></a>
        </div>
        <%}%>
        <!-- End photo gallery -->        

        <div class="margin-bottom-20"></div>

        <!-- description -->
        <div class="col-md-9 nopadding margin-bottom-40">
          <div class="heading margin-bottom-20">
            <h2>More about <%= destination.name %></h2>
            <p class="lead"><%= destination.description %></p>
          </div>
        </div>
        <!-- end description -->

        <!-- map -->
        <% var destination_adress = destination.address ? destination.address : []; %>
        <div id="hidden-address" style="display:none;"></div>

        <div class="col-md-9 nopadding">
          <div class="container nopadding">
            <div class="headline col-md-9"><h2>Location</h2></div>
          </div>
          <div class="row margin-bottom-20 nopadding">
            <div class="container nopadding">
              <img class="img-responsive nopadding" id="image-map"/>
            </div>
          </div>
        </div>
        <!-- end map -->

        <div class="margin-bottom-20"></div>

        <!-- reviews -->
        <div id="destination-reviews" class="col-md-9 nopadding">
          <div class="container nopadding">
            <div class="headline"><h2>Top reviews</h2></div>
          </div>
        </div>

        <div class="col-md-9 nopadding">
          <% var destination_reviews = destination.destination_reviews ? destination.destination_reviews : []; %>
          <% include partials/destination-reviews.ejs %>
        </div>      
        <!-- end reviews -->

        <!-- start hidden gallery -->
        <% var medias = destination.medias ? destination.medias : []; %>
        <% if(medias.length > 0) { %>

        <div id="gallery-popup">
          <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
          <div id="btn-close-modal" class="close-gallery-popup"> 
              CLOSE
          </div>
              
          <div id="gallery-modal-content" class="modal-content gallery-modal-content" >
            <% include partials/media-gallery.ejs %>
          </div>
        </div>

        <%}%>
        <!-- end hidden gallery -->



      </div> <!-- content-container -->
    </div>
    
    <div class="hidden-sm hidden-xs col-md-3 nopadding">
      <div id="request-brochure-left" style="margin-left:10px">        
        <div class="thumbnail" style="text-align:center; padding:10px;">
          <h2><%= destination.name %></h2>
          <a id="gallery-button" href="#gallery-popup"><button class="btn-u btn-u-lg">Request a Brochure<i class="fa fa-angle-right margin-left-5"></i></button></a>
        </div>
      </div>
    </div>



  </div>
</div>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
 
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
 
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>