<% include partials/header.ejs %>

<div class="margin-bottom-20"></div>

<div class="container center-block">
  
  <!-- Start thumbnail photo -->
  <div class="row margin-bottom-20">
    <div class="col-md-12">
        <img width="100%" class="img-responsive" src="/assets/img/samples/destination-image-sample<%=((destination.id ? destination.id : 1)  % 5) + 1%>.jpeg" alt="" />
    </div>
  </div>
  <!-- End thumbnail photo -->


  <% include partials/destination-media-thumbnails.ejs %>
  <div class="margin-bottom-40"></div>

  <!-- description -->
  <div class="heading  margin-bottom-40">
    <h2>More about <%= destination.name %></h2>
    <p class="lead"><%= destination.description %></p>
  </div>
  <!-- end description -->


  <!-- map -->
  <div class="row  margin-bottom-40">
  <style>
      #map {
        width: 100%;
        height: 300px;
      }
    </style>
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
  <!-- end map -->

  <!-- reviews -->
  <% var destination_reviews = destination.reviews ? destination.reviews : []; %>
  <% include partials/destination-reviews.ejs %>
  <!-- end reviews -->



</div> <!-- container -->


<% include partials/footer.ejs %>