<% include partials/header.ejs %>

<div class="margin-bottom-20"></div>


<div id="content-container" class="container center-block">
  
  <!-- Start thumbnail photo -->
  <div class="row margin-bottom-20">
    <div class="col-md-12">
        <img width="100%" class="img-responsive" src="/assets/img/samples/destination-image-sample<%=((destination.id ? destination.id : 1)  % 5) + 1%>.jpeg" alt="" />
    </div>
  </div>
  <!-- End thumbnail photo -->


  <% include partials/destination-media-thumbnails.ejs %>
  <div class="margin-bottom-40"></div>

  <!-- description -->
  <div class="heading  margin-bottom-40">
    <h2>More about <%= destination.name %></h2>
    <p class="lead"><%= destination.description %></p>
  </div>
  <!-- end description -->

  <!-- map -->
  <div class="container">
    <div class="headline"><h2>Location</h2></div>
  </div>
  <div class="row margin-bottom-40">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
  <!-- end map -->

  <!-- reviews -->
  <div class="container">
    <div class="headline"><h2>Top reviews</h2></div>
  </div>

  <% var destination_reviews = destination.destination_reviews ? destination.destination_reviews : []; %>
  <% include partials/destination-reviews.ejs %>
  <!-- end reviews -->



</div> <!-- content-container -->


<% include partials/footer.ejs %>