<% include partials/header.ejs %>

<!-- Start thumbnail photo -->
<div class="container">
  <div class="row">
      <div class="col-md-12" style="padding:0px">
        <img class="img-responsive" src="/assets/img/samples/destination-image-sample<%=((destination.id ? destination.id : 1)  % 3) + 1%>.jpeg" alt="" />
    </div>
  </div>
</div>
<!-- End thumbnail photo -->


<% include partials/footer.ejs %>