<% include header.ejs %>

<div class="container .text-center">

<% var destinationsPerRow = 4; %>
  <% for(var i=0; i < destinations.length; i++) { %>
    <% if((i % destinationsPerRow) == 0) { %>
    <div class="row margin-bottom-40">
    <% } %>
      <div class="col-md-3 col-sm-6 md-margin-bottom-40">
        <a href='destination/<%= destinations[i].id %>'>
            <%= destinations[i].name %>
        </a>
      </div>
    <% if((i % (destinationsPerRow)) === (destinationsPerRow - 1)) { %>
    </div> <!-- row -->
    <% } %>
  <% } %>

</div>


<% include footer.ejs %>



