<% include partials/header.ejs %>

    
<div class="container text-center">

<% var destinationsPerRow = 3;%>
<% for(var i=0; i < destinations.length; i++) { %>
<% var destination = destinations[i]; %>
<% if((i % destinationsPerRow) == 0) { %>
  <div class="row margin-bottom-20 row-<%- i.toString(); %>">
<% } %>

<div class="col-md-4">
  <% include partials/destination-thumbnail.ejs %>
</div>

<% if((i % (destinationsPerRow)) === (destinationsPerRow - 1)) { %>
  </div> <!-- row -->
<% } %>
<% } %>

<!-- add last closing row if one was not provided -->
<% if((destinations.length -1 % (destinationsPerRow)) !== (destinationsPerRow - 1)) { %>
  </div> <!-- row added or closinig -->
<% } %>

</div> <!-- container -->

<% include partials/footer.ejs %>



