<% include partials/header.ejs %>
		
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 img-v1 margin-bottom-10">
  <div class="container text-center">
    <h1>Welcome to Honeymoon Style</h1>
    <p class="margin-bottom-40">Honeymoon planning with style. Let us help inspire you to find your perfect honeymoon destination to suit your very own, unique style..</p>
    
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-group margin-bottom-20">
						<button type="button" class="btn-u btn-u-lg dropdown-toggle" data-toggle="dropdown">
						Destinations by country
						<i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/destinations/country/bs/">Bahamas</a></li>
							<li><a href="/destinations/country/us/">United States</a></li>
							<li><a href="/destinations/country/au/">Australia</a></li>
							<li><a href="/destinations/country/ca/">Canada</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12" >
					<div class="btn-group margin-bottom-20">
						<button type="button" class="btn-u btn-u-lg dropdown-toggle" data-toggle="dropdown">
						Destinations by category
						<i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/destinations/category/romantic/">Romantic</a></li>
							<li><a href="/destinations/category/adventurous/">Adventurous</a></li>
							<li><a href="/destinations/category/scenic/">Scenic</a></li>
							<li><a href="/destinations/category/tropical/">Tropical</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div> <!-- container -->

  </div>
</div>
<!-- End Interactive Slider v2 -->

<div class="container">
  <div class="headline"><h2>Highest rated destinations</h2></div>
</div>

<div class="container text-center">

<% include partials/destination-thumbnails.ejs %>

</div> <!-- container -->

<% include partials/footer.ejs %>

