<% include partials/header.ejs %>
		
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 img-v1 margin-bottom-10">
  <div class="container">
    <h1>Welcome Mr and Mrs Honeymoon!!</h1>
    <p class="margin-bottom-40">Honeymoon planning with style. Let us help inspire you to find your perfect honeymoon destination to suit your very own, unique style..</p>
    <div class="btn-group">
      <button type="button" class="btn-u btn-u-lg dropdown-toggle" data-toggle="dropdown">
      Select  a honeymoon destination
      <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
      <li><a href="#">United States</a></li>
      <li><a href="#">Australia</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Inspire Me!!</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- End Interactive Slider v2 -->

<div class="container">
  <div class="headline"><h2>Honeymoon Inspirations</h2></div>
</div>

        <!-- Thumbnails v3 -->
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail">
							<img class="img-responsive" src="assets/img/samples/destination-image-sample1.jpeg" alt="" />
							<div class="caption">
								<h3><a class="hover-effect" href="#">Destination 1</a></h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                                <div class="object-raiting" style="text-align:center">
						            <ul class="list-inline star-vote">
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star-half-o"></i></li>
							            <li><i class="g-color-default fa fa-star-o"></i></li>
						            </ul>
    					        </div>
                                <p><a href="#" class="btn-u btn-u-xs">Read more <i class="fa fa-angle-right margin-left-5"></i></a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
				            <img class="img-responsive" src="assets/img/samples/destination-image-sample2.jpeg" alt="" />
							<div class="caption">
								<h3><a class="hover-effect" href="#">Destination 2</a></h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                                <div class="object-raiting" style="text-align:center">
						            <ul class="list-inline star-vote">
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star-half-o"></i></li>
							            <li><i class="g-color-default fa fa-star-o"></i></li>
						            </ul>
    					        </div>
                                <p><a href="#" class="btn-u btn-u-xs">Read more <i class="fa fa-angle-right margin-left-5"></i></a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<a class="fancybox" data-rel="fancybox-button" title="Project #1" href="assets/img/main/img20.jpg">
								<img class="img-responsive" src="assets/img/samples/destination-image-sample3.jpeg" alt="" />
							</a>
							<div class="caption">
								<h3><a class="hover-effect" href="#">Destination 3</a></h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                                <div class="object-raiting" style="text-align:center">
						            <ul class="list-inline star-vote">
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star"></i></li>
							            <li><i class="g-color-default fa fa-star-half-o"></i></li>
							            <li><i class="g-color-default fa fa-star-o"></i></li>
						            </ul>
    					        </div>
                      <p><a href="#" class="btn-u btn-u-xs">Read more <i class="fa fa-angle-right margin-left-5"></i></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
    <!-- End Thumbnails v3 -->

<% include partials/footer.ejs %>

