/* Add here all your css styles (customizations) */

.important-background
{
    background: #9b6bcc;
}

.interactive-slider-v2 h1{
  font-size: 50px; 
}

/*Interactive Slider v2
------------------------------------*/
.interactive-slider-v2 {
  z-index: 1;
  padding: 25px 0px 100px 0px;
  position: relative;
  text-align: left;
  background: url(../img/bg/18.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.interactive-slider-v2-md {
  padding: 250px 0;
}

.interactive-slider-v2.img-v1 {
  background: url(../img/samples/home-slide-show1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer-v8 .footer{
   padding: 20px 0 20px;
}

.blog-topbar {
	background: #9b6bcc;
}



.ratio-50{
    position:relative;
    width: 100%;
    height: 0%;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

