{
  "development": {
    "username": "root",
    "password": "${mysql_mmh_dev_password}",
    "database": "mmh_dev",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": "${mysql_mmh_test_password}",
    "database": "mmh_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": "${mysql_mmh_password}",
    "database": "mmh",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "sessionSecret" : "YOUR_SECRET"
}
