        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/assets/admin/plugins/metisMenu/js/metisMenu.min.js"></script>
    <script type="text/javascript" src="/assets/admin/plugins/sb-admin-2/js/sb-admin-2.js"></script>
   
   
  </body>
</html>
